@tailwind components;

* {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-thumb {
	background-clip: content-box;
	background-color: #9f9f9f;
	border-radius: 8px;
	border: 4px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #afafaf;
}

::-webkit-scrollbar-thumb:active {
	background-color: #bfbfbf;
}

body {
	text-wrap: balance;
}

a,
.link {
	color: #00a8fc;
	cursor: pointer;
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

.hideScrollbar::-webkit-scrollbar {
	display: none;
}

.hideScrollbar {
	scrollbar-width: none;
}

.eye {
	margin-left: -3rem;
}

@media (min-width: 640px) {
	.eye {
		top: -1.5px;
	}
}

.subject {
	max-width: 80%;
}

.loading {
	animation: 1.5s infinite loading;
}

.menuEntry,
.tabIcon {
	min-height: 4rem;
}

@keyframes loading {
	0% {
		left: 0;
		width: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0.25rem;
	}
	50% {
		left: 0;
		width: 99%;
		border-bottom-right-radius: 0.25rem;
		border-bottom-left-radius: 0.25rem;
	}
	100% {
		left: 99%;
		width: 0;
		border-bottom-right-radius: 0.25rem;
		border-bottom-left-radius: 0rem;
	}
}

.dashboard {
	animation: 0.5s blur;
}

@keyframes blur {
	from {
		filter: blur(4px);
	}
}

.icon {
	transform: scale(calc(18 / 31)) translateY(-2px);
}

.menuIcon {
	transform: scale(calc(24 / 31));
}

.navigator {
	transition: all 0.5s;
}

body:has(.navigator) {
	margin-bottom: 6rem;
}

@media (min-width: 1024px) {
	body:has(.navigator) {
		margin-left: 5rem;
		margin-bottom: 0;
	}

	.navigator:hover::-webkit-scrollbar {
		display: block;
	}

	.navigator:hover {
		scrollbar-width: auto;
		width: 400px;
		padding-left: 1rem;
		> .tabIcon {
			justify-content: flex-start;
			padding-left: 1.25rem;
			> span {
				display: block;
			}
		}
		> .menuEntry {
			padding-left: 1rem;
			padding-right: 1rem;
			> svg {
				width: 2rem;
			}
			> div {
				display: flex;
			}
		}
	}
}

@layer components {
	.input {
		@apply p-4 m-2 w-11/12 sm:w-full rounded outline-none bg-zinc-200 dark:bg-zinc-800 duration-200 text-xl hover:bg-opacity-80 sm:text-2xl;
	}
}
