@tailwind components;

* {
	scroll-behavior: smooth;
}

body {
	text-wrap: balance;
}

body:has(.blockScroll, .blockScrollMobile) {
	overflow: hidden;
}

.link {
	color: #00a8fc;
	cursor: pointer;
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

.hideScrollbar::-webkit-scrollbar {
	display: none;
}

.hideScrollbar {
	scrollbar-width: none;
}

.center-vertically {
	flex: 0.5;
}

.eye {
	margin-left: -3rem;
}

@media (min-width: 640px) {
	.eye {
		top: -1.5px;
	}
	.gridContainer {
		max-height: 40rem;
	}
}

.subject {
	max-width: 80%;
}

.loading {
	animation: 1500ms infinite loading;
}

.menuEntry,
.tabIcon {
	min-height: 4rem;
}

@keyframes loading {
	0% {
		left: 0;
		width: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0.25rem;
	}
	50% {
		left: 0;
		width: 99%;
		border-bottom-right-radius: 0.25rem;
		border-bottom-left-radius: 0.25rem;
	}
	100% {
		left: 99%;
		width: 0;
		border-bottom-right-radius: 0.25rem;
		border-bottom-left-radius: 0rem;
	}
}

.icon {
	transform: scale(calc(18 / 31)) translateY(-2px);
}

.menuIcon {
	transform: scale(calc(24 / 31));
}

.navigator {
	transition: all 500ms;
}

body:has(.navigator) {
	margin-bottom: 6rem;
}

.subjectsList {
	max-height: 95%;
}

.subjectGroup {
	transform: translate(12.5%, 12.5%) scaleX(0.75) scaleY(0.75);
}

.circle:hover {
	.arc {
		@apply opacity-0;
	}
	.subjects > g {
		@apply opacity-100;
	}
	.subjects > g .subjectGroup {
		@apply scale-100 translate-x-0 translate-y-0;
	}
}

.popup,
.popupMobile {
	animation-duration: 250ms;
	animation-fill-mode: forwards;
	animation-name: fadeIn;
}

@media (min-width: 768px) {
	:not(.nativeScrollbar)::-webkit-scrollbar {
		width: 15px;
	}

	:not(.nativeScrollbar)::-webkit-scrollbar-thumb {
		background-clip: content-box;
		background-color: #9f9f9f;
		border-radius: 8px;
		border: 4px solid transparent;
	}

	:not(.nativeScrollbar)::-webkit-scrollbar-thumb:hover {
		background-color: #afafaf;
	}

	:not(.nativeScrollbar)::-webkit-scrollbar-thumb:active {
		background-color: #bfbfbf;
	}
}

@media (min-width: 1024px) {
	body:has(.navigator) {
		margin-left: 5rem;
		margin-bottom: 0;
	}

	body:has(.blockScrollMobile):not(:has(.blockScroll)) {
		overflow: auto;
	}

	.navigator:hover::-webkit-scrollbar {
		display: block;
	}

	.navigator:hover {
		scrollbar-width: auto;
		width: 400px;
		padding-left: 1rem;
		> .tabIcon {
			justify-content: flex-start;
			padding-left: 1.25rem;
			> span {
				display: block;
			}
		}
		> .menuEntry {
			padding-left: 1rem;
			padding-right: 1rem;
			> svg {
				width: 2rem;
			}
			> div {
				display: flex;
			}
		}
	}

	.subjectsList {
		max-height: 100%;
	}

	.popupMobile {
		animation: none;
	}

	.underlineChildren:hover * {
		text-decoration: underline;
	}

	.circle:has(.subjects > g:hover) {
		.average,
		.subjects > g:not(:hover) > .subjectGroup > * {
			@apply opacity-25;
		}
		.subjects > g:hover {
			> circle {
				stroke-width: 40;
			}
			.arcs {
				stroke-width: 14;
			}
			.subjectName {
				@apply underline;
			}
			.subjectAvg {
				@apply opacity-100;
			}
		}
	}
}

.graphPoints > div:hover > span {
	@apply opacity-100 block;
}

@keyframes fadeIn {
	from {
		transform: scale(0, 0) translate(0, -50%);
		opacity: 0;
		top: 0;
	}
	to {
		transform: scale(1, 1) translate(0, -50%);
	}
}

fieldset > label:has(input:focus-visible) {
	@apply border;
}

fieldset > label {
	@apply block relative pl-10 my-2 cursor-pointer select-none rounded;
	input {
		@apply h-0 w-0;
	}
	span {
		@apply absolute left-px top-px h-6 w-6 border border-black dark:border-white;
	}
	input[type="checkbox"] ~ span {
		@apply rounded-md;
	}
	input[type="radio"] ~ span {
		@apply rounded-full;
	}
	span:after {
		content: "";
		@apply absolute hidden w-1.5 h-3 left-2 top-1 rotate-45 border-white border-r-2 border-b-2;
	}
	input:checked ~ span {
		@apply bg-cyan-500 dark:bg-cyan-600;
	}
	input[type="checkbox"]:checked ~ span:after {
		@apply block;
	}
}

@layer components {
	.input {
		@apply p-4 m-2 w-11/12 sm:w-full rounded outline-none bg-zinc-200 dark:bg-zinc-800 duration-200 text-xl hover:bg-opacity-80 sm:text-2xl;
	}
}
